<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/foundation/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Movie SPA</li>
                @*<li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>*@
            </ul>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x">
            <div ng-app="" class="small-2 large-4 columns">
                <input type="text" ng-model="name" />
                {{name}}
            </div>
            <div class="">
                <ul class="menu">
                    <li><input type="search" placeholder="Search"></li>
                    <li><button type="button" class="button">Search</button></li>
                </ul>
            </div>
        </div>


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Date - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
