@{
    ViewBag.Title = "Home Page.Index";
}
@model IEnumerable<MovieSpa.Models.Movie>
@*<div class="grid-x">

    </div>*@
<h2>List of movies</h2>
@foreach (var item in Model)
{
<div class="grid-x">
    
    <div ng-repeat="item in Model | filter:filterText" class="small-6 large-4 columns">
        @*<h4>ID: @item.Id</h4>*@
        <h4>Title: @item.Title</h4>
        <p>Genre: @item.Genre</p>
        <p>Year: @item.Year</p>
        <p>Rating: @item.Rating</p>
    </div>
</div>
}

<div class="grid-x">
    <div class="medium-3 columns">3 columns</div>
    <div class="medium-9 columns">9 columns</div>
    <button type="button" class="success button">Save</button>
</div>