@model IEnumerable<MovieSpa.Models.Movie>

@{
    ViewBag.Title = "List";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List movie</title>
</head>
<body>
    <h2>List</h2>
    @foreach (var item in Model)
    {
        <div class="grid-x">
            <div class="small-6 large-4 columns">
                @*<h4>ID: @item.Id</h4>*@
                <h4>Title: @item.Title</h4>
                <p>Genre: @item.Genre</p>
                <p>Year: @item.Year</p>
                <p>Rating: @item.Rating</p>
            </div>
        </div>
    }

</body>
</html>
